<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      Built and maintained by <a href="http://www.shopify.com">Shopify Inc.</a> © 2014
    </div>
    <div class="grid-item xlarge--one-third">
      Want to contribute? <a href="http://www.shopify.com/careers">Join the team</a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      <a href="https://twitter.com/Shopify" class="twitter-link"><span class="under">Follow us</span> <i class="icon-twitter"></i></a>
    </div>
  </div>

</footer>