<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Shopify Open Source > {{ site.github.project_title }}</title>

{% if page.description %}
  <meta name="description" content="{{ site.github.project_tagline }}">
{% endif %}

<link rel="canonical" href="http://shopify.github.io">

<meta name="robots" content="index, follow">
<meta name="st:robots" content="index, follow">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property='st:title' content="Shopify Open Source > {{ site.github.project_title }}">

<link rel="shortcut icon" href="//cdn.shopify.com/assets/favicon.ico" type="image/x-icon">

<link href="//shopify.github.io/css/sub.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
  <link href="http://shopify.github.io/css/subie.css" rel="stylesheet" type="text/css">
<![endif]-->

<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
