name: API Compatibility
on:
  merge_group:
  push:
    branches:
    - main
    paths-ignore:
    - '**/*.md'
  pull_request:
    branches:
    - "**"
    paths-ignore:
    - '**/*.md'

permissions:
  contents: read  # for actions/checkout to fetch code

jobs:
  apidiff:
    runs-on: ubuntu-latest
    if: github.base_ref
    steps:
    - name: Setup Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version: 1.21.x
    - name: Add GOBIN to PATH
      run: echo "$(go env GOPATH)/bin" >>$GITHUB_PATH
    - name: Install apidiff cmd
      run: go install golang.org/x/exp/cmd/apidiff@v0.0.0-20231006140011-7918f672742d
    - name: Checkout base code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        ref: ${{ github.base_ref }}
        path: "base"
    - name: Capture apidiff baseline
      run: apidiff -m -w ../baseline.bin .
      working-directory: "base"
    - name: Checkout updated code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        path: "updated"
    - name: Run apidiff check
      run: apidiff -m -incompatible ../baseline.bin .
      working-directory: "updated"
