name: renovate-config-validator

on:
  pull_request:
    paths:
      - '.github/renovate.json5'

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: |
            .github/renovate.json5
          sparse-checkout-cone-mode: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      - run: npx --package=renovate@latest -- renovate-config-validator
