name: renovate-config-validator

on:
  pull_request:
    paths:
      - '.github/renovate.json5'

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout: |
            .github/renovate.json5
          sparse-checkout-cone-mode: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      - run: npx --package=renovate@latest -- renovate-config-validator
